<div class="sidelinks">
  <div class="block tags">
    <label><%= t('.taggings') %></label>
    <%= render 'shared/taglist', tags: Tag.first(20) %>
  </div>
  <div class="block features">
    <label><%= t('.features') %></label>
    <%= link_to t('.archive'), '#' %>
    <%= link_to t('.rss'), '#' %>
    <%= link_to t('.login'), login_path, remote: true %>
  </div>
</div>
