<%= form_for(album, url: albums_path) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
