<beast-form>
<%= simple_form_for(post) do |f| %>
  <%= f.input :title %>
  <%= f.input :content do %>
    <beast-editor>
      <%= f.text_area :content %>
    </beast-editor>
  <% end %>
  <%= f.input :slug %>
  <div class="form-buttons">
    <%= f.submit %>
  </div>
<% end %>
</beast-form>
