<beast-form>
<%= simple_form_for(post) do |f| %>
  <%= f.input :title %>
  <beast-editor>
    <%= f.hidden_field :content, as: :beast_editor %>
  </beast-editor>
  <%= f.input :slug %>
  <div class="form-buttons">
    <%= f.submit %>
  </div>
<% end %>
</beast-form>
