<header>
  <div class="left">
    <%= link_to post_path(post), class: 'link-return', title: t('.return') do %>
      <%= tao_icon :close %>
    <% end %>

    <%= beast_post_autosave :url => post_path(post, autosave: true), :'value-field-selector' => '.field-post-content' do %>
      <%= t '.last_save_at' %>
      <span class="time"></span>
    <% end %>
  </div>
  <div class="right">
    <%= render_avatar current_user %>
    <%= f.button :button, t('.save'), data: {disable_with: t('.submiting')} %>
    <% unless post.published? %>
      <%= f.button :button, t('.publish'), class: 'button', name: 'post[published]', value: true,
        data: {confirm: t('.confirm_publish'), disable_with: t('.submiting')} %>
    <% end %>
  </div>
</header>
