<beast-post-list-item>
  <article>
    <h2 class="title">
      <%= link_to post_path(id: post.slug) do %>
        <%= post.title %>
      <% end %>
    </h2>
    <div class="info">
      <span class="author"><%= post.author.name %></span>
      <span class="created-at"><%= post.created_at.strftime("%d %b,%Y") %></span>
      <span class="category"><%= Post.human_attribute_name("category.#{post.category}") %></span>
    </div>
    <div class="abstract">
      <%= post.abstract %>
    </div>
    <%= link_to 'more..', post_path(id: post.slug), class: 'more' %>
  </article>
</beast-post-list-item>
