<article class="post">
  <h2 class="title">
    <%= link_to post_path(id: post.slug) do %>
      <%= post.title %>
    <% end %>
  </h2>
  <div class="abstract">
    <%= post.abstract.html_safe %>
  </div>
  <div class="meta">
    <span class="created-at"><%= l post.created_at.to_date, formart: :short %></span>
    <span class="author"><%= post.author.name %></span>
    <div class="tags"><%= render post.tags %></div>
  </div>
</article>
