<beast-post>
  <article>
    <h2 class="title">
      <%= link_to @post.title, 'javascript:;' %>
    </h2>
    <div class="content">
      <%= @post.content.html_safe %>
    </div>
  </article>
</beast-post>

<div class="comments-area">
<% if @comments.any? %>
  <%= render 'comments', post: @post, comments: @comments %>
<% else %>
  <div class="no-comments">
    <%= t '.no_comments_yet' %>
  </div>
<% end %>
</div>

<% if logged_in? %>
  <beast-comment-input>
    <beast-form>
    <%= simple_form_for Comment.new(post: @post), url: post_comments_path(@post),
      method: 'POST', remote: true do |f| %>
      <%= f.text_area :content, placeholder: t('.have_some_comments') %>
      <%= f.button :button, '提交' %>
    <% end %>
    </beast-form>
  </beast-comment-input>
<% else %>
  <div class="login-to-comment">
    <%= t('.want_comment') %>
    <%= link_to t('.login_as_github'), '/auth/github'%>
  </div>
<% end %>
