<div class="sidebar">
  <% if Tag.any? %>
  <section class="tags">
    <h3><%= t('.taggings') %></h3>
    <ul class="tag-list">
      <% Tag.first(20).each do |tag| %>
      <li>
        <%= link_to tag.name, tag_path(tag: tag.name), class: 'tag' %>
      </li>
      <% end %>
    </ul>
  </section>
  <% end %>

  <section class="features">
    <h3><%= t('.features') %></h3>
    <ul class="feature-links">
      <li>
        <%= link_to t('.archive'), '#' %>
      </li>
      <li>
        <%= link_to t('.rss'), '#' %>
      </li>
      <li>
        <% if logged_in? %>
          <%= link_to t('.logout'), logout_path %>
        <% else %>
          <%= link_to t('.login'), login_path %>
        <% end %>
      </li>
    </ul>
  </section>
</div>
