<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= tao_page layout: 'default' do %>
      <%= render 'layouts/header' %>
      <div class="page-content">
        <div class="main">
          <%= yield %>
        </div>
        <%= render 'layouts/sidebar' %>
      </div>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
