<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <<%= page_id.dasherize %>-page layout="default" class="page tao-page">
      <%= render 'layouts/header' %>
      <div class="page-main">
        <beast-page-content class="page-content">
          <%= yield %>
        </beast-page-content>
      </div>
      <%= render 'layouts/footer' %>
    </<%= page_id.dasherize %>-page>
  </body>
</html>
